body {
  font-family: Arial, system-ui, -apple-system, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.06em;
  color: #11203f;
  overflow-x: hidden;
}

.btn-default {
  display: flex;
  justify-content: center;
  background-color: #873a82;
  color: #ffffff;
  width: 100%;
}

.btn-default:hover {
  color: #ffffff;
}

.modal-content {
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 1rem;
}

.modal-body {
  padding-left: 3rem;
  padding-right: 3rem;
}

.form-control {
  background-color: #f0f1f1;
  border: none;
  font-weight: 400;
  color: #11203f;
}

.form-control:focus {
  background-color: #f0f1f1;
  border: none;
  font-weight: 400;
  color: #11203f;
  box-shadow: 0 0 0 0.1rem #873a82;
}

.form-select {
  background-color: #f0f1f1;
  border: none;
  font-weight: 400;
  color: #11203f;
}

.form-select:focus {
  background-color: #f0f1f1;
  border: none;
  font-weight: 400;
  color: #11203f;
  box-shadow: 0 0 0 0.1rem #873a82;
}

// Other custom styles
.flex {
  display: flex;

  &--center {
    @extend .flex;
    justify-content: center;
    align-items: center;
  }

  &--justify-end {
    @extend .flex;
    justify-content: flex-end;
  }
}

.pointer {
  cursor: pointer;
}

.invert {
  filter: invert(1);
}

.p-1 {
  padding: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

// avoid some naming conflict with  _utilities.scss class
.m-t-2 {
  margin-top: 2rem;
}

.m-b-3 {
  margin-bottom: 3rem;
}

.font-lg {
  font-size: 44px;
}

.modal-close-container {
  @extend .flex--center;
  @extend .flex--justify-end;
  @extend .pointer;
  @extend .p-1;
}

.right-arrow {
  @extend .invert;
  margin-left: 1rem;
}

.page-layout {
  position: relative;
  display: flex;
}

.rocket-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.rocket::before {
  @extend .flex;
  content: "";
  justify-content: center;
  margin-top: 3rem;
  border-radius: 1rem;
  background: linear-gradient(0deg, #873a82 0%, #25468b 96.48%);
  clip-path: polygon(50% 0%, -30% 100%, 130% 100%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.bg-rocket-container {
  @extend .rocket-container;
  position: absolute;
  width: 150vw;
  height: 100vh;
  left: 0;
  top: 0;
  opacity: 20%;
  z-index: -1;
}
.main-layout {
  margin-top: 3rem;
}

.bg-rocket::before {
  @extend .rocket;
  clip-path: polygon(50% 30%, -30% 100%, 130% 100%);
}
